body{
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;


}

.area-login{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	justify-content: center;
	align-items: center;
}


  

.login{
	display: flex;
    flex-direction: column;
    align-items: center;

    width: 550px;
    height: 340px;
	padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    background: #eee;
    padding-left: 10px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

.login img{
    width: 75px;
    height: 80px;
    
}


.login h1{
    color: greenyellow;
}

input::placeholder{

    font-size: 14px;
}

form[type="submit"]{
    display: block;

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    color: lightgrey;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.logo {
    color: var(--color-white);
    font-size: 30px;
}
    
.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}
  
.menu-bar img{
    height: 80px;
    width: 100px;
}
  
.menu-bar ul {
    list-style: none;
    display: flex;
}
    
.menu-bar ul li {
    padding: 10px 30px;
    position: relative;
}
    
.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
}
    
.menu-bar ul li a:hover {
    color: var(--color-primary);
}
    
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
  
.dropdown-menu {
    display: none;
}
    
.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}
    
.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}
    
.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}
    
.dropdown-menu-1 {
    display: none;
}
    
.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error{
    color: white;

    display: none; 
}