.about .row{
    background-color: #e8e8e8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 6%;
  }
  .about .row.image1{
    flex: 1 1 40rem;
    padding: 2rem;
  }
  .about .row .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about .row .content{
    flex: 1 1 40rem;
    padding: 2rem;
  
  }
  .about .row .content h1{
    font-size: 30px;
    color: black;
    margin-bottom: 5rem;

    font-family: modesto-condensed, serif;

}
  
  .about .row .content h2{
    font-size: 30px;
    color: black;
    margin-bottom: 5rem;
    font-family: modesto-condensed, serif;
  }
  .about .row .content p{
    line-height: 1.7;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-bottom: 1.2rem;
    text-indent: 5px;
    color: #666666;
  }


  .about1 .row1{
 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 6%;
  }
  .about1 .row1.image1{
    flex: 1 1 40rem;
    padding: 2rem;
  }
  .about1 .row1 .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about1 .row1 .content1{
    flex: 1 1 40rem;
    padding: 2rem;
  
  }
  .about1 .row1 .content1 h1{
    font-size: 30px;
    color: black;
    margin-bottom: 5rem;
    position: relative;
    font-family: modesto-condensed, serif;
    right: 110px;
}
  
  .about1 .row1 .content1 h2{
    font-size: 30px;
    color: WHITE;
    margin-bottom: 5rem;
    font-family: modesto-condensed, serif;
  }
  .about1 .row1 .content1 p{
    line-height: 1.7;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-bottom: 1.2rem;
    text-indent: 5px;
    color: #666666;
  }



  .container,
  .button,
  .links,
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    padding: 20px;
    border-radius: 8px;
    column-gap: 12px;
 
  }
  .button {
    border: none;
  }
  .button i {
    pointer-events: none;
  }
  .button:disabled {
    color: #b3b3b3;
    pointer-events: none;
  }
  .button,
  .link {
    height: 45px;
    width: 45px;
    font-size: 20px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
  }
  .links {
    column-gap: 12px;
  }
  .link {
    font-weight: 500;
    text-decoration: none;
  }
  .button:hover,
  .link:hover {
    color: #fff;
    background: greenyellow;
  }
  .link.active {
    color: #fff;
    background: greenyellow;
  }
  