

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
 
}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: greenyellow;
}

.menu-bar {
  background-color: var(--color-white);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./images/principal.jpg);
  background-position: center;
}

  /*About*/
  
.about .row{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 6%;
}
.about .row .image{
  flex: 1 1 40rem;
  padding: 2rem;
}
.about .row .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .row .content{
  flex: 1 1 40rem;
  padding: 2rem;

}
.about .row .content h1{
  font-size: 3rem;
  color: black;
  margin-bottom: 5rem;
  font-family: modesto-condensed, serif;
}
.about .row .content p{
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 1.2rem;
  text-indent: 5px;
  color: #666666;
}


.cor_p{
  font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: white;
}

.cor_check{
  background-color: #012A2F;
  font-size: 30px;
  font-family: modesto-condensed, serif;
}

:selection{
  color: #fff;
  background: #4285f4;
}
.tag{
  width: 370px;
  margin: 85px auto 0;


}
.cor_letra{
  color: white;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.tag.active .select-btn i{
  transform: rotate(-180deg);
}
.esgg{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.tag.active .esgg{
  display: block;
}
.esgg .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.esgg .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
.split {
  height: 75%;
  width: 49%;
  position: absolute;
  z-index: 1;

  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background: #eaeaea url();
 
}

.right {
  right: 0;
  background: #777777;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.testi_section {
  width: 100%;
  height: auto;
  padding: 100px 10%;
  background-color: #012A2F;
}

.testi_section .heading {

  font-size: 45px;
  text-align: center;
  color: white;
  font-family: modesto-condensed, serif;
}


.testi_section .para {
  font-size: 14px;
  text-align: center;
  margin: 3px 0 85px 0;
}

.testi_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

.testi_card {
  padding: 29px;
  border-radius: 10px;
  box-shadow: -5px 5px 21px rgba(51, 51, 51, 0.11);
  transition: all 1s ease;
  background: white
}

.testi_card:hover {
  box-shadow: -9px 9px 21px rgba(51, 51, 51, 0.15);
  transform: translateY(-4px);
}

.testi_card .quote {
  width: 42px;
  height: auto;
  margin-bottom: 5px;
}


.testi_card .test_person {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.test_person IMG {
  margin-right: 10PX;
}

.test_person .name_desig H4 {
  font-size: 19px;
  color: var(--btn);
}

.test_person .name_desig p {
  font-size: 14px;
}

@media only screen and (min-width:860px) and (max-width:1060px) {
  .testi_section {
      padding: 100px 5%;
  }
}

@media only screen and (max-width:860px) {
  .testi_container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:620px) {
  .testi_container {
      grid-template-columns: repeat(1, 1fr);
  }
}

.fotos{
  padding: 29px;
      padding-left: 6em;
    padding-right: 6ems;


}